#app {
    margin-top: 40px;
  }
  
  #progressInput {
    margin: 18 auto;
    width: 100%;
  }
  
  .circle-background,
  .circle-progress {
    fill: none;
  }
  
  .circle-background {
    stroke: #ddd;
  }
  
  .circle-progress {
    stroke: rgb(175, 25, 25);
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  
  .circle-text {
    font-size: 1.5em;
    font-weight: bold;
    fill: rgb(175, 25, 25);
  }